<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138537994298-s6lurik2npmhp1nud0ujd6fps304jul0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138537994298-s6lurik2npmhp1nud0ujd6fps304jul0</string>
	<key>API_KEY</key>
	<string>AIzaSyDxXG2BVyC_zojNMjNWS2ntRO7-q4bgi6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>138537994298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestFriend</string>
	<key>PROJECT_ID</key>
	<string>bestfriend-189af</string>
	<key>STORAGE_BUCKET</key>
	<string>bestfriend-189af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138537994298:ios:0a47591dc5cd3d03100d03</string>
</dict>
</plist>